@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Colors */

:root{
    --primary:#1a253f;
    --dark:#151A33;
    --secondry:#2b55cc;
    --info:#4d79f6;
    --ternary:#848db3;
    --pure:#eff2f9;
    --fade:#7081b9;
    --mild:#8997bd;
    --footer:#212A4A;
    --black:#060b1b;
    --twitter:#4ac7ec;
    --dribble:#ff5da0;
    --success:#1ecab8;
    --danger:#f1646c;
    --dark-blue:#28365f; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
  
    -webkit-font-smoothing:antialiased;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
   
}

nav{
    background: var(--primary);
    padding: 1.6rem 0;
}
nav .inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav .inner .left{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight:500;
}
nav .inner .left i{
    color: var(--info);
}

nav .inner button{
    color: var(--pure);
    background-color:var(--secondry);
    border: none;
    border-radius:4px ;
    font-size: 14px;
    padding:0.6rem 1rem;
    cursor: pointer;

}
nav .inner button a {
    color: var(--pure); 
}

section.profile{
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100% , 0 80%) ;
    padding-bottom: 4rem;
     
}
section.profile .left-box{
    flex: 2;
    display: flex;
    align-items: center;
}
section.profile .left-box .cd-headline .cd-words-wrapper::after{
    background: linear-gradient(to right, var(--secondry),var(--success));

}
section.profile .left-box p b{
    padding-bottom: 1rem;
    font-weight: 400;
}
section.profile .right-box{
    flex: 1;
}
section.profile .left-box h2{
    color:var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}
section.profile .left-box p{
    color: var(--mild);
    font-size: 14px;
}

section.profile .left-box .avatar img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
section.profile .left-box .avatar{
    position: relative;
    margin-right: 2rem;
}
section.profile .left-box .avatar span{
    position: absolute;
    top: 9.5rem;
    right: 1rem;
    bottom: 0;
    background-color: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32,41,54,0.05);
    cursor: pointer;
}
section.profile .right-box ul.contact{
    list-style: none;
    margin-bottom: 1.6rem;
}
section.profile .right-box ul.contact li{
    color: var(--ternary);
    margin-bottom: 0.7rem;
    font-size: 14px;
 
}
.right-box ul li{
    margin-right: 0.8rem;
}

section.profile .right-box ul.contact li i{
    font-size:18px ;
    margin-right: 0.3rem;
}
section.profile .right-box ul.social-icons{
    list-style: none;
    display: flex;
    align-items: center;
}
section.profile .right-box ul.social-icons li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    text-align: center;
    line-height: 36px;
    
}
.right-box ul.social-icons li:nth-child(1) a {
    background: var(--secondry);

    

}
.right-box ul.social-icons li:nth-child(2) a {
    background: var(--dark-blue);
    

}
.right-box ul.social-icons li:nth-child(3) a {
    background: var(--twitter);

}
.right-box ul.social-icons li:nth-child(4) a {
    background: var(--danger);

}
.right-box ul.social-icons li i{
  margin: 0 auto;
}

/* About US Css Start */

.sec-heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
}

.sec-heading3{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
}
section{
    padding :3rem;
}
main{
    background: var(--primary);
    position: relative;
}

.sec-heading3:after{
    content:" ";
    height: 3px;
    width: 80px;
    position: absolute;
    top: 255px;
    left: 25px;
    background: linear-gradient(to right, var(--secondry),var(--success));

}
.about-section .content{
    display: flex;
    align-items: center;
    gap: 16rem;
    justify-content: space-evenly;

}
.about-section .content h2{
    color: var(--info);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.about-section .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;

}
.about-section .content button.cv{
    color: var(--info);
    background: rgba(77,121,246,0.1);
    padding: 4px 8px;
    font-size: 12px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    border: none;
}
.about-section .content button.cv a {
    color: var(--dribble);
}
.about-section .content .right-content p{
    line-height: 1.6;
    font-size: 14px;
    color: var(--terna);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;

}
.about-section .content .right-content{
    width: 80rem;
    margin-right: 2rem;
}
.about-section .content .right-content p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}
.about-section .content .right-content p span:nth-child(2){

    padding-left: 150px;
    display: block;
   
}
.about-section .content .right-content p span:nth-child(1):after{
    content:":";
    position: absolute;
    right: 0;
    top: 0;
}
section .edu{
    display: grid;
    grid-template-columns: 1fr 1fr;  

}
.Education .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
section .edu .heading{
    margin-bottom: 2rem;
}
section .edu .heading i{
    color: var(--fade);
    font-size: 52px;
    margin-left: 5rem;
   
}
#ot i{
    margin-left: 1rem;
}
section .inneredu .heading i{
  margin-top: 20rem;
}
section .edu .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild
    );
}
section .edu p{
    font-size: 14px;
    color: var(--ternary);
    line-height: 1.7;
}

section .edu p.center{
    color: var(--fade);
      
}
section .edu .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}
section .timiline-wrapper{
    border-left:2px dotted var(--dark-blue);
    position: relative;
}
.timiline-wrapper .item div{
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    border: 5px solid var(--info);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px var(--secondry);

}
/* section .skills */

.skills .skills-wrapper .skillbox h4{
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}
.skills .skills-wrapper .skillbox{
    margin-bottom: 4rem;
}
.skills .skills-wrapper .skillbox .progresswrap{
    background-color: #20294a;
    height: 6px;
    width: 100%;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid var(--primary);
}
.skills .skills-wrapper .skillbox .progresswrap .progress-bar{
    display: block;
    height: 100%;
    background: var(--info);
    width: 80%;
    position: relative;
    transition: all 1s ease-in-out ;
     
}
.skills .skills-wrapper .skillbox .progresswrap .progress-bar .tooltip{
    position: absolute;
    right: 0;
    bottom: 5px;
    margin-bottom: 10px;
    color: var(--ternary);
    text-transform: uppercase;
    font-size: 16px;
}

/* Work CSS start */
section.my-work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.my-work .wrapper .projects .tabs ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
section.my-work .wrapper .projects .tabs ul li a{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 2px;

}

section.my-work .wrapper .projects .tabs ul li a.active{
    border-color: var(--info);
    color: var(--info);
    transition: 0.5s ease-in-out;
}
section.my-work .wrapper .projects .images{
    margin-top: 4rem;
    display: flex;
    column-gap:20px;
}
section.my-work .wrapper .proj{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
   
}
section.my-work .wrapper .projects .images img{
    display: block;
    width: 170px;
    height: 170px;
    /* object-fit: cover; */
   
}
.my-work .wrapper .slider-wraper .icon-wrap {
    /* /color: var(--info); */
    font-size: 26px;
    text-align: center;
}
section.my-work .wrapper .slider-wraper .icon-wrap i{
    color: var(--info);
}
.my-work .wrapper .slider-wraper .icon-wrap img{
  margin-top: 50rem;
}
.contact-me .contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px;
    margin-top: 40px;
    align-items: center;
}
/* .my{
    color: orange;
    text-align: center;
} */
.contact-me .contact-wrapper .left-contact > div{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.contact-me .contact-wrapper .left-contact > div div:nth-child(1){
    margin-right: 10px;
}
.contact-me .contact-wrapper .left-contact i{
    font-size:30px;
    color: var(--info);

}
.contact-me .contact-wrapper .left-contact h4{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}
.contact-me .contact-wrapper .left-contact{
    color: var(--ternary);
}
.contact-me .contact-wrapper .left-contact h4 + span{
    font-weight: 100;
    font-size: 14px;
}
.right-contact .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 14px;
    align-items: center;
}
.right-contact .form-group .div{
  display: flex;
  flex-direction: column-reverse;
   
}
.right-contact .form-group .div label{
    color: var(--ternary);
    margin-bottom: 8px;
}
.right-contact .form-group .div input{
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--ternary);
    font-size: 16px;
}
.right-contact .form-group .div input:focus{
    border-color: var(--secondry);
    outline: none;
}
.right-contact .form-group >div textarea{
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--ternary);
    font-size: 16px;
}
.right-contact .form-group >div textarea:focus{
    border-color: var(--secondry);
    outline: none;
}
.right-contact .form-group .label{
    margin-bottom:-10 px;
    /* display: block;
    width: 100%; */
}
.right-contact button{
    background: var(--info);
    border: none;
    padding: 1rem 2rem;
    color: var((--pure));
    font-style: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.right-contact button:hover{
    background: var(--secondry);
}
footer {
    background: var(--footer);
    text-align: center;
    padding: 2rem 0;
    font-size: 14px;
    color: var(--ternary);
    
}
/* Media Queries */

@media (max-width:1280px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width:1024px) {
    section.profile {
        flex-direction: column;
        align-items: start;
        clip-path: none;
    }
      .sec-heading3:after{
        top: 370px;
    }

    section.profile .left-box {
        margin-bottom: 2rem;
    }

    section.profile .right-box {
        align-self: flex-end;
    }

    section.my-work .wrapper{
        display: block;
    }
    section.my-work .wrapper .slider-wrapper{
        margin-bottom: 8rem;
    }
    .icon-wrap {
        text-align: center;
    }

}

@media (max-width:1019px){
    .sec-heading3:after{
        top: 370px;
    }
    section.about-section .content{
        gap: 13px;
    }
    section.contact-me .contact-wrapper .left-contact{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .right-contact .form-group textarea{
        width: 35rem;
    }
}
@media (max-width:970px){
    section.Education .content{
        display: block;
    }
    section.Education .edu{
       margin-bottom: 8rem;
    }
}
@media (max-width:768px){
    section.about .content{
        display: block;
    }
    section.about .content .eft-content{
       margin-bottom: 6rem;
    }

    section.contact-me .contact-wrapper{
        display: block;
    }
    section.contact-me .contact-wrapper .left-contact{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec-heading3:after{
        top: 370px;
    }
    .icon-wrap {
        text-align: center;
      }
}
@media (max-width:576px){
    section.profile{
        align-items: center;

    }
    section.profile .right-box{
        align-self: center;

    }
    section.profile .left-box{
        margin-bottom: 6rem;

    }
    .tabs ul{
        flex-wrap: wrap;
    }
    .tabs ul li{
       margin-bottom: 4rem;
    }
    section.contact-me .contact-wrapper .right-contact .form-group{
        grid-template-columns: 1fr ;
    }
    .sec-heading3:after{
        top: 410px;
    }
   
    .icon-wrap {
      text-align: center;
    }
    .right-contact .form-group textarea{
        width: 40rem;
    }
 
   
}
@media (max-width:434px){
    section.about-section .content{
       display: block;
       

    }
    section.about-section .content .right-content{
        margin-top: 2rem;
       width: 30rem;

    }
    .right-contact .form-group textarea{
        width: 30rem;
    }
 
    .sec-heading3:after{
        top: 408px;
    }
    .icon-wrap {
        text-align: center;
    }

}
@media (max-width:376px){
    .icon-wrap {
       width: 80%;
    }
    .about-section .content .right-content{
        margin-left: -20px;
    }
    section .edu {
        
        grid-template-columns: 1fr ;
    }
    .right-contact .form-group textarea{
        width: 22rem;
    }
    .sec-heading3:after{
        top: 423px;
    }
}
